@{
    ViewData["Title"] = "Login";
}
<html>

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <div class="border">
        <p style="text-align:center; font-size:48px; margin-bottom:1px">Username</p>
        <form style="margin-bottom:5px"><input type="text" /></form>
        <p style="text-align:center; font-size:48px; margin-bottom:5px;">Password</p>
        <form style="margin-bottom:1px"><input type="text" /></form>
        <br />
        <form style="text-align:center; margin-top:1px; margin-bottom:25px"><input type="button" value="Submit" /></form>
    </div>

    <div style="margin-top:25px"><a href="https://localhost:44368/Home/ForgotUsername">Forgot Username?</a></div>
    <div style="margin-top:1px"><a href="https://localhost:44368/Home/ForgotPassword">Forgot Password?</a></div>

</html>
